In [139]:
import pandas as pd
import csv
import re

compustat_location = '../archive/COMPUSTAT_database.csv'
breach_location = '../data/data_breaches_final.csv'
bea_location = '../archive/BEA_database.csv'
trends_tic_location = '../data/trends_tic.csv'
trends_conm_location = '../data/trends_conm.csv'
out_location = '../data/COMPUSTAT_merged_trends.csv'

In [49]:
remove = ['CORP', 'INC', 'LTD', 'CORPORATION', 'INCORPORATED', 'LLC', 'LTD', 'GROUP', 'NV', 'GRP', 'PLC']

def clean_name(name):
    name = str(name)
    name = re.sub(r'[^\s\w]+', '', name)
    namewords = name.split()
    resultwords = [word for word in namewords if word not in remove]
    result = ' '.join(resultwords)
    result = result.strip(' ')
    return result

In [50]:
compustat = pd.read_csv(compustat_location)
compustat['datadate'] = pd.to_datetime(compustat['datadate'], format='%Y%m%d')
# Remove any data from outside of US companies
compustat = compustat[compustat['curcdq'] == 'USD']
compustat['datamonth'] = compustat['datadate'].apply(lambda x: x.replace(day = 1))
compustat['clean_name'] = compustat['conm'].apply(clean_name)
compustat['clean_tic'] = compustat['tic'].apply(clean_name)

In [52]:
breach = pd.read_csv(breach_location)
breach['datacqtr'] = breach['yearquarter']
breach['gvkey'] = breach['GVKEY']
breach = breach[breach['match'] == 1]
breach['Date Made Public'] = pd.to_datetime(breach['Date Made Public'], format='%B %d, %Y')

In [53]:
bea = pd.read_csv(bea_location)
bea['datacqtr'] = bea['yearquarter']

In [133]:
# trends = pd.read_csv(trends_location).set_index('date')
# trends_tic = trends.iloc[:, ::2]
# trends_company = trends.iloc[:, 1::2]

trends_company = pd.read_csv(trends_conm_location, index_col='date').stack()
trends_company = trends_company.reset_index()
trends_company['date'] = pd.to_datetime(trends_company['date'])
trends_company.columns = ['datamonth', 'clean_name', 'trend_index_company']

trends_tic = pd.read_csv(trends_tic_location, index_col='date').stack()
trends_tic = trends_tic.reset_index()
trends_tic['date'] = pd.to_datetime(trends_tic['date'])
trends_tic.columns = ['datamonth', 'clean_tic', 'trend_index_tic']

In [134]:
out = pd.merge(compustat, breach, how='outer', on=['gvkey', 'datacqtr'])

In [135]:
out = pd.merge(out, bea, how='left', on='datacqtr')

In [136]:
out = pd.merge(out, trends_company, how='outer', on=['datamonth','clean_name'])
out = pd.merge(out, trends_tic, how='outer', on=['datamonth','clean_tic'])

In [137]:
del out['Unnamed: 0']
del out['orig_name']

out['tic'] = out['tic_x']
del out['tic_x']
del out['tic_y']

out['conm'] = out['conm_x']
del out['conm_x']
del out['conm_y']

out['sic'] = out['sic_x']
del out['sic_x']
del out['sic_y']

out['yearquarter'] = out['yearquarter_x']
del out['yearquarter_x']
del out['yearquarter_y']

In [112]:
trends_tic['clean_tic'].drop_duplicates()

0                            SNE
1                           MCIP
2                           LPLA
3                           NTRS
4                            ZEN
5                           FBMI
6                          UWBKQ
7                            ALU
8                            TXT
9                            ING
10                          CHTR
11                          MANT
12                           JPM
13                           HPQ
14                           AFL
15                           KBR
16            SEAGATE TECHNOLOGY
17             REGIONS FINANCIAL
18               BED BATH BEYOND
19                  UNDER ARMOUR
20     SEARS HOMETOWN OUTLET STR
21        ADC TELECOMMUNICATIONS
22              NORTHROP GRUMMAN
23                    HOME DEPOT
24          SUNGARD DATA SYSTEMS
25          PRUDENTIAL FINANCIAL
26                   ROSS STORES
27                           WMB
28                           TYL
29                           FDC
                 ...
400                        CHASE
401      MONEYGRAM INTERNATIONAL
402                 ACORN ENERGY
403                   NOODLES CO
404                 MEADWESTVACO
405                          PBG
406                          STT
407                          EMR
408                          MSG
409                        CMCSA
410                        GNCMA
411                          HOG
412                           TD
413                         TRCO
414                          HON
415                        PNSNQ
416                          VRA
417                          BOH
418                         INGR
419                           VM
420                          WEN
421                           RY
422                          MAR
423                         EZPW
424                         ORRF
425                           GE
426                          SRX
427                          WEB
428                          LXK
429                          GNW
Name: clean_tic, Length: 430, dtype: object

In [138]:
out[out['trend_index_company'].isnull() & out['trend_index_tic'].isnull() & out['match'].notnull()]

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,cusip,curcdq,...,real_gd_investment,real_exports,real_imports,real_government_spending,trend_index_company,trend_index_tic,tic,conm,sic,yearquarter
4119,1663.0,2008-09-30,2008.0,3.0,INDL,C,D,STD,035229103,USD,...,94.805,89.499,93.773,102.310,NaN,NaN,BUD.2,ANHEUSER-BUSCH COS INC,2082.0,2008Q3
15707,3555.0,2006-06-30,2006.0,2.0,INDL,C,D,STD,222372104,USD,...,105.526,76.060,93.320,97.520,NaN,NaN,CFC.3,COUNTRYWIDE FINANCIAL CORP,6162.0,2006Q2
18336,4049.0,2008-06-30,2008.0,2.0,INDL,C,D,STD,21036U206,USD,...,96.745,90.115,94.997,101.515,NaN,NaN,CNSTQ,CONSTAR INTERNATIONAL INC,3080.0,2008Q2
84049,14466.0,2006-12-31,2006.0,4.0,INDL,C,D,STD,431294107,USD,...,103.079,79.272,94.319,98.180,NaN,NaN,HRH.1,HILB ROGAL & HOBBS CO,6411.0,2006Q4
99595,16784.0,2007-12-31,2007.0,4.0,INDL,C,D,STD,200519106,USD,...,101.194,86.588,95.562,100.438,NaN,NaN,CBH.1,COMMERCE BANCORP INC/NJ,6020.0,2007Q4
336038,161989.0,2006-12-31,2006.0,4.0,INDL,C,D,STD,20343T100,USD,...,103.079,79.272,94.319,98.180,NaN,NaN,CBONQ,COMMUNITY BANCORP/NV,6020.0,2006Q4
385241,176833.0,2006-12-31,2006.0,4.0,INDL,C,D,STD,695459107,USD,...,103.079,79.272,94.319,98.180,NaN,NaN,PAET,PAETEC HOLDING CORP,4899.0,2006Q4
439778,186106.0,2012-03-31,2012.0,1.0,INDL,C,D,STD,620097105,USD,...,98.299,98.962,99.607,100.719,NaN,NaN,MMI.3,MOTOROLA MOBILITY HLDGS INC,3663.0,2012Q1
465062,64048.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.119,76.085,94.197,97.381,NaN,NaN,NaN,NaN,NaN,2006Q3
465063,33423.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.853,101.580,99.955,98.163,NaN,NaN,NaN,NaN,NaN,2013Q1
465064,4072.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123.812,113.900,123.018,100.100,NaN,NaN,NaN,NaN,NaN,2017Q4
465065,11787.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.526,76.060,93.320,97.520,NaN,NaN,NaN,NaN,NaN,2006Q2
465066,15706.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.610,86.827,87.271,105.681,NaN,NaN,NaN,NaN,NaN,2010Q1
465067,15706.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.601,94.790,96.050,103.386,NaN,NaN,NaN,NaN,NaN,2011Q1
465068,124042.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.299,98.962,99.607,100.719,NaN,NaN,NaN,NaN,NaN,2012Q1
465069,15580.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,101.019,100.562,100.633,100.038,NaN,NaN,NaN,NaN,NaN,2012Q3
465070,15706.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,103.853,101.580,99.955,98.163,NaN,NaN,NaN,NaN,NaN,2013Q1
465071,15706.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.120,100.434,99.664,99.051,NaN,NaN,NaN,NaN,NaN,2012Q4
465072,1410.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123.812,113.900,123.018,100.100,NaN,NaN,NaN,NaN,NaN,2017Q4
465073,15633.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,119.333,110.132,118.079,99.763,NaN,NaN,NaN,NaN,NaN,2017Q1

In [140]:
out.to_csv(out_location, index=False, quoting=csv.QUOTE_ALL)