In [10]:
import pandas as pd
import os
import csv

trend_dir = '../data/trends'
file_names = os.listdir(trend_dir)

first = True
missing_company = 0
corrupt_files = 0
for file in file_names:
    file_location = trend_dir + '/' + str(file)
    try:
        data = pd.read_csv(file_location, index_col='date')
    except TypeError:
        corrupt_files += 1
        continue
    if first:
        tic_out = data.iloc[:,0].to_frame()
        conm_out = data.iloc[:,1].to_frame()
        first = False
    else:
        try:
            tic_out = pd.concat([tic_out, data.iloc[:,0].to_frame()], axis=1)
            conm_out = pd.concat([conm_out, data.iloc[:,1].to_frame()], axis=1)
        except IndexError:
            missing_company += 1
            continue
            
print(len(tic_out.columns))
print(len(conm_out.columns))

15129
14953

In [11]:
print(missing_company)
print(corrupt_files)

176
1454

In [13]:
tic_out.head()

,SOHO,BFC3,DVLN,EEP,RYSMF,TKLC,WP,CDNL,ISON,MSF,...,CODE,KHI,ESGF,FOMX,FCAP,NVEC,IBDJ,LGN2,NUE,LBJ
date,,,,,,,,,,,,,,,,,,,,,
2005-01-01,73,0,0,28,0,0,24,0,1,69,...,70,2,0,0,0,24,0,0,59,18
2005-02-01,79,0,0,60,0,0,24,0,1,74,...,69,1,0,0,0,13,0,0,45,25
2005-03-01,72,0,0,49,0,0,30,41,1,73,...,71,3,0,0,0,11,0,0,53,22
2005-04-01,74,0,0,87,0,10,31,46,1,94,...,71,4,0,0,0,16,0,0,58,29
2005-05-01,78,0,0,60,0,9,38,0,1,85,...,71,3,0,0,1,11,0,0,56,31

In [14]:
tic_out.to_csv('../data/trends_tic.csv', quoting=csv.QUOTE_ALL)    
conm_out.to_csv('../data/trends_conm.csv', quoting=csv.QUOTE_ALL)