In [75]:
import pandas as pd
import csv
import datetime
import re

crsp_location = '../archive/CRSP_small_database.csv'
breach_location = '../data/data_breaches_final.csv'
ff_location = '../data/FF_factors.csv'
trends_tic_location = '../data/trends_tic.csv'
trends_conm_location = '../data/trends_conm.csv'
out_location = '../data/CRSP_merged_mar.csv'

results_10days_location = '../data/stock_study_10day.csv'
results_5days_location = '../data/stock_study_5day.csv'
results_2days_location = '../data/stock_study_2day.csv'

In [3]:
remove = ['CORP', 'INC', 'LTD', 'CORPORATION', 'INCORPORATED', 'LLC', 'LTD', 'GROUP', 'NV', 'GRP', 'PLC']

def clean_name(name):
    name = str(name)
    name = re.sub(r'[^\s\w]+', '', name)
    namewords = name.split()
    resultwords = [word for word in namewords if word not in remove]
    result = ' '.join(resultwords)
    result = result.strip(' ')
    return result

In [4]:
crsp = pd.read_csv(crsp_location)
crsp['date'] = pd.to_datetime(crsp['date'], format='%Y%m%d')
crsp.columns
crsp['datamonth'] = crsp['date'].apply(lambda x: x.replace(day = 1))
crsp['clean_name'] = crsp['COMNAM'].apply(clean_name)
#crsp['clean_tic'] = crsp['TICKER'].apply(clean_tic)

/usr/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5,8,15,19,21,26,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
breach = pd.read_csv(breach_location)
breach['date'] = pd.to_datetime(breach['Date Made Public'], format='%B %d, %Y')
breach['TICKER'] = breach['tic']
breach = breach[breach['match'] == 1]

In [6]:
ff = pd.read_csv(ff_location)
ff['date'] = pd.to_datetime(ff['date'], format='%Y%m%d')

In [8]:
# By doing left we explicitly exclude firms that have the breach not on a business day
out = pd.merge(crsp, breach, how='left', on=['date', 'TICKER'])

In [9]:
out = pd.merge(out, ff, how='left', on='date')

In [10]:
out = out.drop(out[out['TICKER'].isnull() & out['match'].isnull()].index)

In [11]:
matched = out.groupby(by='TICKER').apply(lambda x: x[x['match'] == 1])['TICKER'].unique()
out = out[out['TICKER'].isin(matched)]

In [98]:
breach_dates = out[out['match'].notnull()][['date', 'TICKER']]

def index_occurances(record):
    record = record.reset_index().reset_index()
    del record['index']
    record.columns = ['index', 'date', 'TICKER']
    record = record.sort_values(by='date')
    record['index'] = record['index'] + 1
    record['ticker_occurance'] = record['TICKER'] + '_' + record['index'].map(str)
    
    return record

matched = breach_dates.groupby(by='TICKER').apply(index_occurances)
del matched['index']
matched = matched.reset_index(drop=True)
matched = pd.merge(matched, breach, on=['date', 'TICKER'], how='left')
matched

,date,TICKER,ticker_occurance,Company,City,State,Type of breach,Type of organization,Total Records,Year of Breach,...,local,customer,employee,credit_card,cvv,social_security,name,address,personal_information,yearquarter
0,2011-11-02,AAN,AAN_1,Aaron's,Fresno,California,STAT,BSR,1008,2011,...,0,1,0,0,0,1,1,0,0,2011Q4
1,2013-10-22,AAN,AAN_2,Aaron's,Atlanta,Georgia,DISC,BSR,0,2013,...,0,1,0,0,0,0,0,0,0,2013Q4
2,2008-03-31,AAP,AAP_1,Advance Auto Parts,Roanoke,Virginia,HACK,BSR,56000,2008,...,0,0,0,0,0,0,0,0,0,2008Q1
3,2016-03-16,AAP,AAP_2,Advanced Auto Parts,Roanoke,Virginia,HACK,BSR,0,2016,...,0,0,1,0,0,1,1,0,0,2016Q1
4,2011-04-01,AAPL,AAPL_1,iTunes (Apple),Cupertino,California,HACK,BSR,0,2011,...,0,1,0,1,0,0,0,1,0,2011Q2
5,2012-09-04,AAPL,AAPL_2,Apple,Cupertino,California,HACK,BSR,1000000,2012,...,0,0,0,0,0,0,0,0,0,2012Q3
6,2013-02-19,AAPL,AAPL_3,Apple,Cupertino,California,HACK,BSR,0,2013,...,0,0,1,0,0,0,0,0,0,2013Q1
7,2013-07-22,AAPL,AAPL_4,Apple Inc.,Cupertino,California,HACK,BSR,0,2013,...,0,1,0,0,0,0,1,1,0,2013Q3
8,2014-02-26,AAPL,AAPL_5,Apple,Cupertino,California,HACK,BSO,0,2014,...,0,0,0,0,0,0,0,0,0,2014Q1
9,2017-09-11,ABB,ABB_1,ABB Inc.,NaN,NaN,HACK,BSO,0,2017,...,0,0,1,0,0,1,1,1,1,2017Q3
10,2010-12-22,ABCD,ABCD_1,"Community First Credit Union, Cambrium Group",Appleton,Wisconsin,DISC,BSF,1600,2010,...,0,0,0,0,0,1,1,1,0,2010Q4
11,2011-04-21,ABM,ABM_1,ABM Industries,Atlanta,Georgia,STAT,BSO,91,2011,...,0,0,1,0,0,1,0,0,0,2011Q2
12,2017-11-14,ABM,ABM_2,ABM Industries,New York,New York,HACK,BSO,0,2017,...,0,0,1,0,0,0,1,0,0,2017Q4
13,2017-02-24,ABT,ABT_1,Abbott Nutrition,Columbus,Ohio,HACK,BSO,0,2017,...,0,1,0,0,1,0,1,1,0,2017Q1
14,2009-11-24,ACFN,ACFN_1,ACORN,San Diego,California,DISC,BSO,0,2009,...,0,0,0,0,0,0,0,0,0,2009Q4
15,2014-07-08,ACM,ACM_1,Aecom,Los Angles,California,HACK,BSO,0,2014,...,0,0,1,0,0,1,1,1,0,2014Q3
16,2012-11-14,ADBE,ADBE_1,Adobe,San Jose,California,HACK,BSO,230,2012,...,0,0,0,0,0,0,1,1,0,2012Q4
17,2013-05-13,ADBE,ADBE_2,"Adobe, Washington Administrative Office of the...",Olympia,Washington,HACK,BSO,160000,2013,...,0,0,0,0,0,1,1,0,0,2013Q2
18,2013-10-04,ADBE,ADBE_3,"Adobe, PR Newswire, National White Collar Crim...",San Jose,California,HACK,BSR,2900000,2013,...,0,1,0,0,0,0,1,0,0,2013Q4
19,2017-09-25,ADBE,ADBE_4,Adobe,San Jose,California,DISC,BSO,0,2017,...,0,0,0,0,0,0,0,0,0,2017Q3
20,2007-02-23,ADCT,ADCT_1,"ADC Telecommunications Inc., Flex Compensation",St. Louis Park,Minnesota,PORT,BSR,63400,2007,...,0,0,1,0,0,1,1,1,0,2007Q1
21,2006-07-06,ADP,ADP_1,Automatic Data Processing (ADP),Roseland,New Jersey,UNKN,BSO,0,2006,...,0,0,0,0,0,1,1,1,0,2006Q3
22,2011-12-28,ADP,ADP_2,"Automatic Data Processing (ADP), A.W. Hastings'",Westlake Village,California,PORT,BSO,0,2011,...,0,0,1,0,0,1,1,1,1,2011Q4
23,2012-11-28,ADP,ADP_3,"Advanced Data Processing, Inc. (ADPI), Grady EMS",Roseland,New Jersey,INSD,BSF,15000,2012,...,0,0,1,0,0,1,1,0,0,2012Q4
24,2013-07-30,ADP,ADP_4,"US Airways, McKesson, City of Houston, Automat...",Tempe,Arizona,DISC,BSO,4500,2013,...,0,1,0,0,0,1,1,0,0,2013Q3
25,2007-01-10,ADVS,ADVS_1,Advent Software Inc.,San Francisco,California,PORT,BSR,0,2007,...,0,0,1,0,0,1,0,1,0,2007Q1
26,2010-05-28,AET,AET_1,Aetna,South Windsor,Connecticut,PHYS,BSO,6372,2010,...,0,0,0,0,0,1,1,0,0,2010Q2
27,2017-08-24,AET,AET_2,Aetna,Hartford,Connecticut,DISC,BSF,12000,2017,...,0,0,0,0,0,0,0,0,0,2017Q3
28,2006-04-19,AFL,AFL_1,Aflac,Columbus,Georgia,PORT,BSF,0,2006,...,0,0,0,0,0,1,1,0,0,2006Q2
29,2006-08-22,AFL,AFL_2,AFLAC American Family Life Assurance Co.,Greenville,South Carolina,PORT,BSF,612,2006,...,0,1,0,0,0,1,1,1,1,2006Q3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
556,2017-03-29,WAAS,WAAS_1,Quench,King Prussia,Pennsylvania,HACK,BSO,0,2017,...,0,1,0,1,0,0,0,1,0,2017Q1
557,2008-08-28,WASH,WASH_1,The Washington Trust Co.,Westerly,Rhode Island,HACK,BSF,1000,2008,...,0,1,0,1,0,0,0,0,0,2008Q3
558,2010-07-28,WEN,WEN_1,Wendy's,Tukwila,Washington,INSD,BSR,135,2010,...,0,1,0,0,0,0,0,0,0,2010Q3
559,2016-01-27,WEN,WEN_2,Wendy's,Dublin,Ohio,HACK,BSO,0,2016,...,0,0,0,1,0,0,0,0,0,2016Q1
560,2006-05-05,WFC,WFC_1,Wells Fargo,San Francisco,California,STAT,BSF,0,2006,...,0,1,0,0,0,1,1,1,0,2006Q2
561,2006-08-29,WFC,WFC_2,"Wells Fargo, Paymap Inc., First Horizon Home L...",Memphis,Tennessee,PORT,BSF,0,2006,...,0,1,0,0,0,1,1,1,0,2006Q3
562,2006-09-01,WFC,WFC_3,Wells Fargo via unnamed auditor,San Francisco,California,PORT,BSF,0,2006,...,0,0,1,0,0,1,1,0,0,2006Q3
563,2008-08-12,WFC,WFC_4,Wells Fargo,Minneapolis,Minnesota,HACK,BSF,5000,2008,...,0,1,0,0,0,1,1,1,1,2008Q3
564,2010-03-24,WFC,WFC_5,Wachovia,Alexandria,Washington,CARD,BSF,0,2010,...,0,1,0,0,0,0,0,0,0,2010Q1
565,2010-05-25,WFC,WFC_6,Wells Fargo,San Francisco,California,INSD,BSF,1023,2010,...,0,0,0,0,0,1,1,1,1,2010Q2
566,2010-08-23,WFC,WFC_7,Wachovia Bank,Atlanta,Georgia,INSD,BSF,0,2010,...,0,0,1,1,0,0,0,0,0,2010Q3
567,2011-10-20,WFC,WFC_8,Wells Fargo,Jacksonville,Florida,DISC,BSF,0,2011,...,0,1,0,0,0,0,0,0,0,2011Q4
568,2017-07-31,WFC,WFC_9,Wells Fargo,San Francisco,California,DISC,BSF,50000,2017,...,0,1,0,0,0,1,1,0,0,2017Q3
569,2012-01-27,WIN,WIN_1,Windstream,Kannapolis,North Carolina,INSD,BSR,0,2012,...,0,1,0,0,0,0,0,0,0,2012Q1
570,2007-04-03,WM,WM_1,Waste Management Inc.,Houston,Texas,PORT,BSO,400,2007,...,0,0,1,0,0,0,0,0,0,2007Q2
571,2007-04-03,WM,WM_1,Waste Management Inc.,Wixom,Michigan,INSD,BSO,0,2007,...,0,1,0,1,0,0,1,1,0,2007Q2
572,2007-04-03,WM,WM_2,Waste Management Inc.,Houston,Texas,PORT,BSO,400,2007,...,0,0,1,0,0,0,0,0,0,2007Q2
573,2007-04-03,WM,WM_2,Waste Management Inc.,Wixom,Michigan,INSD,BSO,0,2007,...,0,1,0,1,0,0,1,1,0,2007Q2
574,2005-12-12,WMT,WMT_1,"Sam's Club, a division of Wal-Mart Stores, Inc",Bentonville,Arkansas,UNKN,BSR,0,2005,...,0,1,0,1,0,0,0,0,0,2005Q4
575,2007-09-28,WMT,WMT_2,Wal-Mart Stores Inc.,Bentonville,Arkansas,INSD,BSR,48686,2007,...,0,0,0,0,0,1,1,0,0,2007Q3
576,2010-06-07,WMT,WMT_3,"Wal-Mart, Sam's Club",Bentonville,Arkansas,HACK,BSR,117,2010,...,0,1,0,1,0,0,1,0,0,2010Q2
577,2013-07-29,WMT,WMT_4,Wal-Mart,NaN,Oklahoma,CARD,BSR,0,2013,...,0,0,0,0,0,0,0,0,0,2013Q3
578,2006-08-17,WSM,WSM_1,"Williams-Sonoma, Deloitte & Touche",San Francisco,California,PORT,BSR,1200,2006,...,0,0,1,0,0,1,0,0,0,2006Q3
579,2007-07-17,WU,WU_1,Western Union,Greenwood Village,Colorado,HACK,BSF,20000,2007,...,0,0,0,1,0,0,1,1,0,2007Q3
580,2016-12-20,WU,WU_2,Western Union,Englewood,Colorado,HACK,BSF,0,2016,...,0,0,0,0,0,1,0,0,1,2016Q4
581,2006-08-10,WY,WY_1,Weyerhaeuser Company,Washington,District Of Columbia,PHYS,BSR,1597,2006,...,0,0,0,0,0,0,0,0,0,2006Q3
582,2007-01-23,XRX,XRX_1,Xerox,Wilsonville,Oregon,PORT,BSR,297,2007,...,0,0,1,0,0,0,1,0,0,2007Q1
583,2011-02-15,XRX,XRX_2,Affiliated Computer Services (ACS),Columbus,Ohio,DISC,BSO,8000,2011,...,0,0,0,0,0,1,0,0,0,2011Q1
584,2011-01-05,YUM,YUM_1,Taco Bell,Grand Rapids,Michigan,INSD,BSR,50,2011,...,0,1,0,1,0,0,0,0,0,2011Q1
585,2017-11-17,YUM,YUM_2,Pizza Hut,Plano,Texas,HACK,BSO,60000,2017,...,0,1,0,1,0,0,1,1,1,2017Q4

In [101]:
r10 = pd.read_csv(results_10days_location)
r5 = pd.read_csv(results_5days_location)
r2 = pd.read_csv(results_2days_location)

del r10['Unnamed: 0']
del r5['Unnamed: 0']
del r2['Unnamed: 0']

r10.columns = [col + '_10d' for col in r10.columns]
r10['ticker_occurance'] = r10['ticker_occurance_10d']
del r10['ticker_occurance_10d']
r5.columns = [col + '_5d' for col in r5.columns]
r5['ticker_occurance'] = r5['ticker_occurance_5d']
del r5['ticker_occurance_5d']
r2.columns = [col + '_2d' for col in r2.columns]
r2['ticker_occurance'] = r2['ticker_occurance_2d']
del r2['ticker_occurance_2d']

es = pd.merge(r10, r5, on='ticker_occurance', how='outer')
es = pd.merge(es, r2, on='ticker_occurance', how='outer')
es = pd.merge(es, matched, on='ticker_occurance', how='left')
es

,car_mmodel_10d,car_ffmodel_10d,aar_mmodel_10d,aar_ffmodel_10d,est_size_10d,pred_size_10d,car_mmodel_percent_10d,car_ffmodel_percent_10d,aar_mmodel_percent_10d,aar_ffmodel_percent_10d,...,local,customer,employee,credit_card,cvv,social_security,name,address,personal_information,yearquarter
0,0.050739,0.022279,0.002146,0.000343,104.0,8.0,5.073870,2.227927,0.214634,0.034327,...,0,0,1,0,0,1,1,0,0,2013Q3
1,0.034746,0.028969,0.002624,0.001805,101.0,7.0,3.474637,2.896936,0.262352,0.180514,...,0,1,0,0,0,0,0,0,0,2013Q1
2,0.061919,0.058915,0.003404,0.002372,101.0,9.0,6.191900,5.891547,0.340441,0.237209,...,0,0,1,0,0,1,0,0,0,2006Q1
3,0.088987,0.087714,0.014963,0.014827,101.0,7.0,8.898700,8.771395,1.496251,1.482739,...,0,0,1,0,0,1,1,0,0,2007Q2
4,-0.006995,0.000124,0.000415,0.000251,103.0,9.0,-0.699499,0.012369,0.041518,0.025076,...,0,1,0,0,0,0,0,0,0,2013Q4
5,-0.008832,-0.013880,0.003819,0.002756,103.0,6.0,-0.883187,-1.387965,0.381911,0.275618,...,0,0,1,0,0,1,1,1,0,2007Q1
6,0.027689,0.014115,0.005062,0.004502,104.0,7.0,2.768893,1.411530,0.506244,0.450239,...,0,0,1,0,0,1,1,1,0,2016Q2
7,-0.072815,-0.062898,-0.003999,-0.003542,105.0,6.0,-7.281524,-6.289827,-0.399926,-0.354176,...,0,0,0,0,0,1,1,1,1,2015Q4
8,-0.075453,-0.045441,-0.003975,-0.001598,100.0,9.0,-7.545254,-4.544071,-0.397509,-0.159805,...,0,0,1,0,0,0,0,0,0,2007Q2
9,-0.075453,-0.045441,-0.003975,-0.001598,100.0,9.0,-7.545254,-4.544071,-0.397509,-0.159805,...,0,1,0,1,0,0,1,1,0,2007Q2
10,0.025533,0.020359,0.003718,0.003191,103.0,9.0,2.553341,2.035912,0.371814,0.319061,...,0,0,1,0,0,1,1,0,0,2006Q3
11,-0.047073,-0.037019,-0.006499,-0.005881,101.0,8.0,-4.707315,-3.701921,-0.649931,-0.588092,...,0,1,0,0,0,1,1,0,0,2008Q2
12,0.054500,0.022132,0.006893,0.002583,105.0,7.0,5.449973,2.213218,0.689327,0.258305,...,0,0,1,0,0,1,1,0,0,2012Q3
13,0.001850,-0.039187,0.000070,-0.006878,103.0,6.0,0.184999,-3.918683,0.006950,-0.687803,...,0,1,0,0,0,0,0,0,0,2012Q2
14,0.095362,-0.058637,0.002263,-0.008280,101.0,9.0,9.536155,-5.863746,0.226344,-0.828045,...,0,0,0,0,0,0,0,1,0,2016Q2
15,0.035201,0.061778,0.006277,0.007818,105.0,7.0,3.520104,6.177794,0.627670,0.781821,...,0,0,1,0,0,0,0,0,0,2015Q3
16,-0.174056,-0.174193,-0.023533,-0.024228,103.0,8.0,-17.405581,-17.419294,-2.353310,-2.422780,...,0,0,0,0,0,0,0,0,0,2012Q3
17,-0.017501,-0.025589,-0.004926,-0.006017,105.0,7.0,-1.750127,-2.558927,-0.492609,-0.601662,...,0,0,0,0,0,0,1,1,0,2016Q3
18,0.080838,0.118534,0.006922,0.006401,104.0,8.0,8.083762,11.853416,0.692209,0.640062,...,0,1,0,0,0,1,1,1,0,2015Q3
19,-0.066374,-0.079809,-0.007960,-0.003225,102.0,6.0,-6.637369,-7.980874,-0.795986,-0.322548,...,0,0,1,0,0,0,0,0,0,2013Q1
20,-0.100842,-0.138377,-0.003582,-0.007081,101.0,9.0,-10.084227,-13.837742,-0.358166,-0.708135,...,0,1,0,0,0,1,1,1,0,2015Q1
21,-0.096636,-0.056223,-0.011259,-0.007050,105.0,7.0,-9.663646,-5.622261,-1.125904,-0.705046,...,0,1,0,0,0,0,1,1,0,2016Q4
22,0.037062,0.031668,0.002449,0.002444,102.0,8.0,3.706240,3.166780,0.244911,0.244380,...,0,1,0,0,0,0,1,1,0,2012Q1
23,0.127118,0.070215,0.005842,0.002077,102.0,7.0,12.711821,7.021455,0.584248,0.207703,...,0,1,0,0,0,1,1,1,0,2016Q2
24,-0.140801,-0.142987,-0.007511,-0.008368,101.0,9.0,-14.080132,-14.298689,-0.751093,-0.836812,...,0,1,0,1,0,0,0,0,0,2016Q2
25,-0.004607,0.015551,0.005300,0.005010,106.0,6.0,-0.460726,1.555070,0.530005,0.501000,...,0,1,0,0,0,0,0,0,0,2010Q3
26,0.169382,0.188522,0.024113,0.025856,102.0,9.0,16.938199,18.852190,2.411345,2.585571,...,0,0,0,0,0,0,0,0,0,2016Q2
27,0.020813,0.004148,0.002621,0.001409,92.0,8.0,2.081272,0.414821,0.262081,0.140948,...,0,0,0,1,0,0,0,0,0,2017Q1
28,0.006761,0.015831,0.000388,0.000391,104.0,9.0,0.676088,1.583111,0.038819,0.039137,...,0,0,0,1,0,0,0,0,0,2014Q4
29,0.001142,0.099625,-0.000824,0.005189,104.0,8.0,0.114234,9.962479,-0.082395,0.518880,...,0,0,1,0,0,1,0,0,0,2006Q3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,1,0,2017Q1
443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,1,1,0,2012Q4
444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,1,0,0,2007Q1
445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,1,0,0,2011Q2
446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,1,0,0,0,1,0,2012Q1
447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,1,0,2013Q3
448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,1,1,1,2007Q3
449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,1,1,0,2011Q2
450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,1,0,0,2013Q3
451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,1,1,0,2016Q1
452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,2012Q3
453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,1,1,0,0,2012Q4
454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,1,0,1,2009Q1
455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,1,1,1,2016Q1
456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,1,1,0,2013Q3
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,1,0,0,2013Q1
458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,0,1,0,2017Q3
459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,1,0,0,2010Q2
460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,1,1,1,2007Q4
461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,1,1,2017Q2
462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,1,0,2015Q4
463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,1,0,2013Q3
464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,1,1,1,0,2007Q1
465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,0,1,0,2006Q4
466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,2008Q2
467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,1,1,0,0,2013Q3
468,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,1,0,0,1,1,0,2007Q3
469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,1,0,1,1,1,0,2017Q1
470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,1,1,0,2013Q4
471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,1,0,2014Q2

In [102]:
es.to_csv('../data/event_study_controls.csv')

In [9]:
def closest_breach(company_record):
    cols = list(set(breach.columns.to_list()) & set(company_record.columns.to_list()))
    for i in range(4400):
        for col in cols:
            company_record[col] = company_record[col].ffill(limit=1).bfill(limit=1) 
    return company_record

out = out.set_index('date').groupby('TICKER').apply(closest_breach).reset_index()

KeyboardInterrupt:

In [23]:
out.to_csv(out_location, index=False, quoting=csv.QUOTE_ALL)